<div *ngIf="currentGroup" class="chat-container">
    <div class="chat-header">
      <h4>{{ currentGroup }}</h4>
    </div>
  
    <div class="chat-messages">
      <div *ngFor="let msg of messages" [ngClass]="{'sent': msg.type === 'sent', 'received': msg.type === 'received'}">
        <strong *ngIf="msg.type === 'received'">{{ msg.sender }}</strong>
        <span *ngIf="msg.type === 'sent'">You</span>: {{ msg.content }}
      </div>
    </div>
  
    <div class="chat-input">
      <textarea [(ngModel)]="currentMessage" placeholder="Type your message here..."></textarea>
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  