/* Global styling to improve aesthetics */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

.btn-outline-warning {
    border-color: #ffc107;
    color: #ffc107;
}

.btn-outline-warning:hover {
    background-color: #ffc107;
    color: #fff;
}

/* Specific section styling for differentiation */
.group-creation-section,
.all-groups-section,
.channel-creation-section,
.users-section {
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Styling for the group cards */
.card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.btn-link.text-dark:hover {
    text-decoration: none;
    color: #007bff;  /* Change to your primary color if different */
}

/* Styling for the tables */
table.table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

table.table tr {
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

table.table thead tr {
    background-color: #333;
    color: white;
}

table.table th, table.table td {
    padding: 15px;
}

.btn-sm.ml-2 {
    margin-left: 10px;
}
